                   /* Container body qui comprend toute la page */
@import url(/css/index.css);                   
                   
/* Premier Container général du body */
#containerPage
{
	display: flex;
	flex-direction: column;
	background-image: url("/imagesSave/skater_grab.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
/* lien généraux */
a
{	
	text-align: center;	
}
/* paragraphe généraux */
p
{
	color: green;
}




                  



								/* HEADER */
								
								
/* Deuxieme Container du body contenant le header et le nav */
#containerHeaderNav
{
	display: flex;
	flex-direction: column;	
}
/* class enfants du parent headeNav */
.elementHeaderNav:nth-child(1)
{	
	font-size: 25px;
	background-color: burlywood;	
}
/* class enfants du parent headeNav contenant la navigation */
.elementHeaderNav:nth-child(2)
{	
	font-size: 25px;	
}
/* header titre h1 nth-child(1) */
h1.titrePrincipalHeader
{
	font-family: monospace;	
}
/* header lien titre nth-child(1) */
a.titreHeader
{
	padding-left: 1em;
	font-size: 50px;
	color: brown;
}
/* header paragraph slogan nth-child(1) */
p.slogan
{
	font-family: fantasy;
	padding-left: 9em;
	color: seagreen;
}
/* nav liste non ordonnée des liens de navigation nth-child(2)*/
ul.NavUl
{
	
}
/* nav element de liste contenant un lien de nav vers accueil nth-child(2) */
li.accueil
{
		
}
/* nav element de liste contenant un lien de nav vers le login nth-child(2) */
li.login
{

}
/* nav element de liste contenant un lien de nav vers la page accueil des News nth-child(2) */
li.accueilNews
{
	
}



								/* SECTION */
								
															
/* Troisiéme Container du body contenant une section comprenant les news */
#containerSection
{
	display: flex;
	text-align: center;
	flex-direction: column;
	align-content: center;
		
}
/* Class de la section des news */
.section
{
	font-size: 25px;
	color: red;
	text-align: center;
}



