@import url(/css/index.css);
@import url(/css/show.css);
@import url(/css/insertComment.css); 

                  
                   /* Container body qui comprend toute la page */
                   
                 
/* Premier Container général du body */
#containerBody
{
	display: flex;
	flex-direction: column;
	background-image: url("/imagesSave/skater_grab.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
/* lien généraux */
a
{	
	text-align: center;	
}
/* paragraphe généraux */
p
{
	color: green;
}




                  



								/* HEADER */
								
								
/* Deuxieme Container du body contenant le header top bar et le nav */
#containerHeader
{
	display: flex;
	flex-direction: column;	
}
								/* HEADER TOP BAR */


/* class enfants du parent containerHeader */
.elementHeader-1:nth-child(1)
{	
	font-size: 25px;
	background-color: burlywood;	
}

/* header titre h1 nth-child(1) */
h1.titrePrincipalHeader
{
	font-family: monospace;	
}
/* header lien titre nth-child(1) */
a.titreHeader
{
	padding-left: 1em;
	font-size: 50px;
	color: brown;
}
/* header paragraph slogan nth-child(1) */
p.slogan
{
	font-family: fantasy;
	padding-left: 9em;
	color: seagreen;
}



									/* HEADER NAV */
									
									
									
/* class enfants du parent headeNav contenant la navigation */
.elementHeader:nth-child(2)
{	
	font-size: 25px;	
}


/* nav liste non ordonnée des liens de navigation nth-child(2)*/
ul.NavUl
{
	
}

