h2
{
	color: #ff0080;
}
a.titrePrincipalNews
{
	color: blue;
}
#page
{
	display: flex;
	flex-direction: column;
	background-image: url("/imagesSave/skater_grab.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
#headerNav
{
	display: flex;
	flex-direction: column;	
}

.elementHeaderNav:nth-child(1)
{	
	font-size: 25px;
	color: violet;	
}

.elementHeaderNav:nth-child(2)
{	
	font-size: 25px;
	color: red;	
}
#section
{
	display: flex;
	text-align: center;
	flex-direction: column;
	align-content: center;	
}
.classection
{
	font-size: 25px;
	color: red;
	text-align: center;
}
h1.titrePrincipal
{
	font-family: monospace;	
}
a
{
	color: orange;
	text-align: center;	
}
a.titre
{
	padding-left: 1em;
	font-size: 50px;
	color: blue;
}
p
{
	color: green;
}
p.slogan
{
	padding-left: 9em;
	color: red;
	font-family: fantasy;
}
.navigation
{
	flex-direction: row;
}
ul.classNavUl
{
	padding: 0em;
}
li.accueil
{
	
	
}
li.login
{

}
li.accueilNews
{
	
}